body{
 margin:0;
 display:flex;
 font-family:sans-serif;
 flex-direction: column;
 align-items: center;
 height: 100vh;
 justify-content: center;
 background:url("https://images.unsplash.com/photo-1670189577367-2c6ef31a4b8c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80");
 background-repeat: no-repeat;
 background-position:center;
 background-size: 100%;
 overflow: hidden;
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px;
    text-align: center;
}
.clock{
    display: flex;

}
.clock div{
    margin:5px;
    position: relative;
}
.clock span{
    width:100px;
    height:80px;
    background-color:        slateblue;
opacity:0.8;
color:white;
display:flex;
justify-content:center;
align-items: center;
font-size: 50px;
text-shadow: 2px 3px 4px rgba(0,0,0,0.3);
}
.clock .text{
    height:30px;
    font-size:10px;
    text-transform: capitalize;
    letter-spacing: 2px;
    background:rgb(180, 15, 221);
    opacity: 0.8;
}
.clock #ampm{
 bottom:0;
 position: absolute;
 width:60px;
 height: 30px;
 font-size: 20px;
 background-color: rgb(90, 30, 230);
}

