h1 {
  text-align: center;
  color: transparent;
}
h2 {
  color: rgb(255, 255, 0);
}
h3 {
  color: #00ffff;
}
p {
  color: rgba(52, 6, 55, 0.8);
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  background-color: #2bbad4;
}

.box {
  height: 400px;
  width: 400px;
  background-color: currentColor;
  border-radius: 45px;
  margin: 25px;
}

/* colors are in hex code, rgb, rgba,hsl,hsla */
/* if you want to make text transparent you can use the color as transparent */

/* hue: means pure color ,
tint :means adding whiteness to the color to make it translucnet or transparent,
shade: addding black color on the color or pure color is called shade (black),
tone:adding grey addiiton on the color or pure color is added with grey color,
for grey color desingers use 3 numbers as show like eg:333,444,555,etc ccc



use tint and shade generator to create the shades.
 */
